body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('imagen.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;  // Añadido para asegurar que la superposición se posicione sobre el cuerpo
    border: 5px solid #333; /* Agrega un borde de 5px color gris oscuro */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño total */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);  // Reducir opacidad al 10%
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

audio {
    display: none;
}