body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin perder proporción */
}

/* Usa pseudoelementos para crear las barras de color */
.image-container::before,
.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #FFF5EC;
}

.image-container::before {
    height: 10vh; /* Ajusta esta altura según tu preferencia */
    top: 0;
    left: 0;
}

.image-container::after {
    height: 10vh; /* Ajusta esta altura según tu preferencia */
    bottom: 0;
    left: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);  /* Reducir opacidad al 10% */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

audio {
    display: none;
}